<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
  </dict>
</plist>
