<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>A-cy</string>
      <string>El-cy.loclBGR</string>
      <string>Delta</string>
      <string>Lambda</string>
      <string>Alphatonos</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
      <string>Ve-cy</string>
      <string>Ze-cy</string>
      <string>Softsign-cy</string>
      <string>Hardsign-cy</string>
      <string>Tshe-cy</string>
      <string>Shha-cy</string>
      <string>ve-cy.loclBGR</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>Es-cy</string>
      <string>E-cy</string>
      <string>euro</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>OE</string>
      <string>Ie-cy</string>
      <string>Iegrave-cy</string>
      <string>Io-cy</string>
      <string>Epsilontonos</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>G.001</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>Hbar</string>
      <string>El-cy</string>
      <string>En-cy</string>
      <string>Pe-cy</string>
      <string>Sha-cy</string>
      <string>Yeru-cy</string>
      <string>Xi</string>
      <string>Etatonos</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Yi-cy</string>
      <string>Iotatonos</string>
      <string>Iotadieresis</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>Zhe-cy</string>
      <string>Ka-cy</string>
      <string>Zhe-cy.loclBGR</string>
      <string>Ka-cy.loclBGR</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>H</string>
      <string>M</string>
      <string>Em-cy</string>
      <string>Sigma</string>
      <string>Psi</string>
    </array>
    <key>public.kern1.N</key>
    <array>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Eng</string>
      <string>Ntilde</string>
      <string>De-cy</string>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Che-cy</string>
      <string>Ia-cy</string>
      <string>De-cy.loclBGR</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>O-cy</string>
      <string>Ef-cy</string>
      <string>Ereversed-cy</string>
      <string>Iu-cy</string>
      <string>Obarred-cy</string>
      <string>Phi</string>
      <string>Omega</string>
      <string>Omicrontonos</string>
      <string>currency</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>Thorn</string>
      <string>Be-cy</string>
      <string>Er-cy</string>
      <string>ruble</string>
    </array>
    <key>public.kern1.Pi</key>
    <array>
      <string>Pi</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>dollar</string>
    </array>
    <key>public.kern1.Sha-cy</key>
    <array>
      <string>Dzhe-cy</string>
    </array>
    <key>public.kern1.Softsign-cy</key>
    <array>
      <string>Lje-cy</string>
      <string>Nje-cy</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Ge-cy</string>
      <string>Gheupturn-cy</string>
      <string>Te-cy</string>
      <string>Gamma</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
    </array>
    <key>public.kern1.U-cy</key>
    <array>
      <string>Ushort-cy</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>Tbar</string>
      <string>X</string>
      <string>Ha-cy</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>U-cy</string>
      <string>Ustrait-cy</string>
      <string>Upsilon</string>
      <string>Upsilontonos</string>
      <string>Upsilondieresis</string>
      <string>yen</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>a-cy</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>Germandbls</string>
      <string>eth</string>
      <string>germandbls</string>
      <string>Dje-cy</string>
      <string>softsign-cy</string>
      <string>hardsign-cy</string>
      <string>lje-cy</string>
      <string>nje-cy</string>
      <string>softsign-cy.loclBGR</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>es-cy</string>
      <string>e-cy</string>
      <string>xi</string>
      <string>sigmafinal</string>
      <string>cent</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>colon.case</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>dcroat</string>
    </array>
    <key>public.kern1.dollar</key>
    <array>
      <string>florin</string>
      <string>hryvnia</string>
      <string>sterling</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>oe</string>
      <string>ie-cy</string>
      <string>iegrave-cy</string>
      <string>io-cy</string>
    </array>
    <key>public.kern1.emdash</key>
    <array>
      <string>leftArrow</string>
      <string>carriagereturn</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
      <string>pi</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>de-cy.loclBGR</string>
    </array>
    <key>public.kern1.greater</key>
    <array>
      <string>guilsinglright</string>
      <string>guilsinglright.case</string>
      <string>greater.case</string>
      <string>rightArrow</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>tshe-cy</string>
      <string>dje-cy</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>i-cy</string>
      <string>yi-cy</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>ka-cy</string>
      <string>ka-cy.loclBGR</string>
      <string>kappa</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>f_f_l</string>
      <string>fl</string>
    </array>
    <key>public.kern1.less</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
      <string>guillemetleft.case</string>
      <string>guilsinglleft.case</string>
      <string>less.case</string>
    </array>
    <key>public.kern1.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>te-cy.loclBGR</string>
      <string>eta</string>
      <string>etatonos</string>
    </array>
    <key>public.kern1.more</key>
    <array>
      <string>guillemetright</string>
      <string>guillemetright.case</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>eng</string>
      <string>ntilde</string>
      <string>shha-cy</string>
      <string>pe-cy.loclBGR</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>p</string>
      <string>be-cy</string>
      <string>ze-cy</string>
      <string>o-cy</string>
      <string>ef-cy</string>
      <string>ereversed-cy</string>
      <string>iu-cy</string>
      <string>obarred-cy</string>
      <string>ze-cy.loclBGR</string>
      <string>be-cy.loclSRB</string>
      <string>delta</string>
      <string>epsilon</string>
      <string>theta</string>
      <string>omicron</string>
      <string>rho</string>
      <string>sigma</string>
      <string>phi</string>
      <string>psi</string>
      <string>omega</string>
      <string>iotatonos</string>
      <string>omicrontonos</string>
      <string>omegatonos</string>
      <string>four</string>
    </array>
    <key>public.kern1.p</key>
    <array>
      <string>thorn</string>
      <string>er-cy</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>parenleft.case</string>
      <string>braceleft.case</string>
    </array>
    <key>public.kern1.parenright</key>
    <array>
      <string>parenright</string>
      <string>braceright</string>
      <string>bracketright</string>
      <string>parenright.case</string>
      <string>braceright.case</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.plus</key>
    <array>
      <string>multiply</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>questiondown</string>
      <string>questiondown.case</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>dcaron</string>
      <string>lcaron</string>
      <string>tcaron</string>
      <string>quoteright</string>
      <string>quotesingle</string>
      <string>numeral-greek</string>
      <string>lowernumeral-greek</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>ge-cy</string>
      <string>gheupturn-cy</string>
      <string>te-cy</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>ge-cy.loclBGR</string>
    </array>
    <key>public.kern1.semicolon</key>
    <array>
      <string>questiongreek</string>
    </array>
    <key>public.kern1.sha-cy</key>
    <array>
      <string>dzhe-cy</string>
    </array>
    <key>public.kern1.space</key>
    <array>
      <string>space</string>
      <string>nbspace</string>
      <string>space_less_three_space.liga</string>
    </array>
    <key>public.kern1.strokeshortcomb</key>
    <array>
      <string>minus</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>iota</string>
      <string>iotadieresistonos</string>
    </array>
    <key>public.kern1.tse-cy</key>
    <array>
      <string>Tse-cy</string>
      <string>Shcha-cy</string>
      <string>tse-cy</string>
      <string>shcha-cy</string>
      <string>tse-cy.loclBGR</string>
      <string>shcha-cy.loclBGR</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>I</string>
      <string>d</string>
      <string>l</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>I-cy</string>
      <string>ii-cy</string>
      <string>iishort-cy</string>
      <string>iigrave-cy</string>
      <string>el-cy</string>
      <string>em-cy</string>
      <string>en-cy</string>
      <string>pe-cy</string>
      <string>che-cy</string>
      <string>sha-cy</string>
      <string>yeru-cy</string>
      <string>ia-cy</string>
      <string>ii-cy.loclBGR</string>
      <string>iishort-cy.loclBGR</string>
      <string>iigrave-cy.loclBGR</string>
      <string>en-cy.loclBGR</string>
      <string>che-cy.loclBGR</string>
      <string>sha-cy.loclBGR</string>
      <string>iu-cy.loclBGR</string>
      <string>alpha</string>
      <string>mu</string>
      <string>tau</string>
      <string>alphatonos</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>de-cy</string>
      <string>ustrait-cy</string>
      <string>el-cy.loclBGR</string>
      <string>gamma</string>
      <string>lambda</string>
      <string>nu</string>
      <string>upsilon</string>
      <string>upsilontonos</string>
      <string>upsilondieresis</string>
      <string>upsilondieresistonos</string>
    </array>
    <key>public.kern1.ve</key>
    <array>
      <string>ve-cy</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>lslash</string>
      <string>x</string>
      <string>zhe-cy</string>
      <string>ha-cy</string>
      <string>zhe-cy.loclBGR</string>
      <string>zeta</string>
      <string>chi</string>
      <string>epsilontonos</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>u-cy</string>
      <string>ushort-cy</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>A-cy</string>
      <string>De-cy</string>
      <string>El-cy</string>
      <string>El-cy.loclBGR</string>
      <string>Delta</string>
      <string>Lambda</string>
      <string>Alphatonos</string>
      <string>four</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>B</string>
      <string>Ve-cy</string>
      <string>Ge-cy</string>
      <string>Gheupturn-cy</string>
      <string>Shha-cy</string>
      <string>Gamma</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>Es-cy</string>
      <string>E-cy</string>
      <string>euro</string>
    </array>
    <key>public.kern2.D</key>
    <array>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
    </array>
    <key>public.kern2.E</key>
    <array>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Ie-cy</string>
      <string>Iegrave-cy</string>
      <string>Io-cy</string>
      <string>Epsilontonos</string>
    </array>
    <key>public.kern2.En-cy</key>
    <array>
      <string>Nje-cy</string>
    </array>
    <key>public.kern2.G</key>
    <array>
      <string>Gbreve</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>Hbar</string>
      <string>K</string>
      <string>En-cy</string>
      <string>Pe-cy</string>
      <string>Tse-cy</string>
      <string>Sha-cy</string>
      <string>Shcha-cy</string>
      <string>Softsign-cy</string>
      <string>Yeru-cy</string>
      <string>Iu-cy</string>
      <string>Xi</string>
      <string>Etatonos</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Yi-cy</string>
      <string>Iotatonos</string>
      <string>Iotadieresis</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.K</key>
    <array>
      <string>Kcommaaccent</string>
      <string>Ka-cy</string>
      <string>Ka-cy.loclBGR</string>
    </array>
    <key>public.kern2.L</key>
    <array>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lslash</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>H</string>
      <string>M</string>
      <string>Em-cy</string>
      <string>Che-cy</string>
      <string>Sigma</string>
      <string>Psi</string>
    </array>
    <key>public.kern2.N</key>
    <array>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Eng</string>
      <string>Ntilde</string>
      <string>Be-cy</string>
      <string>Ii-cy</string>
      <string>Iishort-cy</string>
      <string>Ia-cy</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>G</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>G.001</string>
      <string>Ze-cy</string>
      <string>O-cy</string>
      <string>Ef-cy</string>
      <string>Obarred-cy</string>
      <string>Phi</string>
      <string>Omega</string>
      <string>Omicrontonos</string>
      <string>currency</string>
    </array>
    <key>public.kern2.P</key>
    <array>
      <string>Thorn</string>
      <string>R</string>
      <string>Er-cy</string>
      <string>ruble</string>
    </array>
    <key>public.kern2.Pi</key>
    <array>
      <string>Pi</string>
    </array>
    <key>public.kern2.R</key>
    <array>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scommaaccent</string>
      <string>dollar</string>
    </array>
    <key>public.kern2.Sha-cy</key>
    <array>
      <string>Dzhe-cy</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Te-cy</string>
      <string>Hardsign-cy</string>
      <string>Dje-cy</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
    </array>
    <key>public.kern2.U-cy</key>
    <array>
      <string>Ushort-cy</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>Tshe-cy</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>Tbar</string>
      <string>X</string>
      <string>Zhe-cy</string>
      <string>U-cy</string>
      <string>Ha-cy</string>
      <string>Lje-cy</string>
      <string>Ereversed-cy</string>
      <string>Zhe-cy.loclBGR</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ustrait-cy</string>
      <string>Upsilon</string>
      <string>Upsilontonos</string>
      <string>Upsilondieresis</string>
      <string>yen</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>a-cy</string>
      <string>ia-cy</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>Germandbls</string>
      <string>germandbls</string>
      <string>ve-cy.loclBGR</string>
    </array>
    <key>public.kern2.be-cy</key>
    <array>
      <string>be-cy</string>
      <string>be-cy.loclSRB</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>cdotaccent</string>
      <string>es-cy</string>
      <string>e-cy</string>
      <string>xi</string>
      <string>sigmafinal</string>
      <string>cent</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
      <string>colon.case</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern2.d</key>
    <array>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
    </array>
    <key>public.kern2.de</key>
    <array>
      <string>De-cy.loclBGR</string>
    </array>
    <key>public.kern2.dollar</key>
    <array>
      <string>florin</string>
      <string>hryvnia</string>
      <string>sterling</string>
    </array>
    <key>public.kern2.e</key>
    <array>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>ie-cy</string>
      <string>iegrave-cy</string>
      <string>io-cy</string>
    </array>
    <key>public.kern2.emdash</key>
    <array>
      <string>rightArrow</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
      <string>f_f_l</string>
      <string>fl</string>
      <string>pi</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>de-cy.loclBGR</string>
    </array>
    <key>public.kern2.greater</key>
    <array>
      <string>guilsinglright</string>
      <string>guilsinglright.case</string>
      <string>greater.case</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>tshe-cy</string>
      <string>dje-cy</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>i-cy</string>
      <string>yi-cy</string>
    </array>
    <key>public.kern2.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>ka-cy</string>
      <string>ka-cy.loclBGR</string>
      <string>kappa</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
    </array>
    <key>public.kern2.less</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
      <string>guillemetleft.case</string>
      <string>guilsinglleft.case</string>
      <string>less.case</string>
      <string>leftArrow</string>
      <string>carriagereturn</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>em-cy</string>
      <string>te-cy.loclBGR</string>
      <string>eta</string>
      <string>iota</string>
      <string>etatonos</string>
    </array>
    <key>public.kern2.more</key>
    <array>
      <string>guillemetright</string>
      <string>guillemetright.case</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>I</string>
      <string>b</string>
      <string>l</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>eng</string>
      <string>ntilde</string>
      <string>I-cy</string>
      <string>ve-cy</string>
      <string>ii-cy</string>
      <string>iishort-cy</string>
      <string>iigrave-cy</string>
      <string>en-cy</string>
      <string>pe-cy</string>
      <string>che-cy</string>
      <string>tse-cy</string>
      <string>sha-cy</string>
      <string>shcha-cy</string>
      <string>softsign-cy</string>
      <string>yeru-cy</string>
      <string>lje-cy</string>
      <string>nje-cy</string>
      <string>iu-cy</string>
      <string>shha-cy</string>
      <string>iigrave-cy.loclBGR</string>
      <string>en-cy.loclBGR</string>
      <string>pe-cy.loclBGR</string>
      <string>softsign-cy.loclBGR</string>
      <string>iu-cy.loclBGR</string>
      <string>iotatonos</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>lslash</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>de-cy</string>
      <string>el-cy</string>
      <string>o-cy</string>
      <string>ef-cy</string>
      <string>ereversed-cy</string>
      <string>obarred-cy</string>
      <string>ze-cy.loclBGR</string>
      <string>che-cy.loclBGR</string>
      <string>alpha</string>
      <string>delta</string>
      <string>epsilon</string>
      <string>zeta</string>
      <string>theta</string>
      <string>omicron</string>
      <string>rho</string>
      <string>sigma</string>
      <string>phi</string>
      <string>psi</string>
      <string>omega</string>
      <string>omicrontonos</string>
      <string>omegatonos</string>
      <string>alphatonos</string>
      <string>epsilontonos</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>thorn</string>
      <string>er-cy</string>
      <string>mu</string>
    </array>
    <key>public.kern2.parenleft</key>
    <array>
      <string>parenleft</string>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>parenleft.case</string>
      <string>braceleft.case</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
      <string>braceright</string>
      <string>bracketright</string>
      <string>parenright.case</string>
      <string>braceright.case</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.plus</key>
    <array>
      <string>multiply</string>
    </array>
    <key>public.kern2.q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>questiondown</string>
      <string>questiondown.case</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quoteright</string>
      <string>quotesingle</string>
      <string>numeral-greek</string>
      <string>lowernumeral-greek</string>
    </array>
    <key>public.kern2.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>ge-cy</string>
      <string>gheupturn-cy</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scommaaccent</string>
      <string>ge-cy.loclBGR</string>
    </array>
    <key>public.kern2.semicolon</key>
    <array>
      <string>questiongreek</string>
    </array>
    <key>public.kern2.sha-cy</key>
    <array>
      <string>dzhe-cy</string>
    </array>
    <key>public.kern2.space</key>
    <array>
      <string>space</string>
      <string>nbspace</string>
      <string>space_less_three_space.liga</string>
    </array>
    <key>public.kern2.strokeshortcomb</key>
    <array>
      <string>minus</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern2.te</key>
    <array>
      <string>te-cy</string>
      <string>tau</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>ii-cy.loclBGR</string>
      <string>iishort-cy.loclBGR</string>
      <string>tse-cy.loclBGR</string>
      <string>sha-cy.loclBGR</string>
      <string>shcha-cy.loclBGR</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>ustrait-cy</string>
      <string>el-cy.loclBGR</string>
      <string>gamma</string>
      <string>lambda</string>
      <string>nu</string>
      <string>upsilon</string>
      <string>upsilontonos</string>
      <string>upsilondieresis</string>
      <string>upsilondieresistonos</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
      <string>zhe-cy</string>
      <string>ze-cy</string>
      <string>ha-cy</string>
      <string>zhe-cy.loclBGR</string>
      <string>chi</string>
      <string>iotadieresistonos</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>u-cy</string>
      <string>ushort-cy</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
  </dict>
</plist>
