<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>E</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-25</integer>
      <key>public.kern2.S</key>
      <integer>-27</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-17</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.c</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-115</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.q</key>
      <integer>-20</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-17</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-23</integer>
      <key>public.kern2.comma</key>
      <integer>-160</integer>
      <key>public.kern2.f</key>
      <integer>40</integer>
      <key>public.kern2.o</key>
      <integer>-3</integer>
      <key>public.kern2.parenright</key>
      <integer>-60</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-15</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-27</integer>
      <key>quotedbl</key>
      <integer>-20</integer>
      <key>quotedblright</key>
      <integer>-20</integer>
      <key>quoteright</key>
      <integer>-30</integer>
    </dict>
    <key>comma</key>
    <dict>
      <key>one</key>
      <integer>-120</integer>
    </dict>
    <key>endash</key>
    <dict>
      <key>one</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>seven</key>
      <integer>-33</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>two</key>
      <integer>-28</integer>
    </dict>
    <key>hyphen</key>
    <dict>
      <key>four</key>
      <integer>13</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-45</integer>
      <key>public.kern2.X</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>three</key>
      <integer>-40</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-13</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>emdash</key>
      <integer>-13</integer>
      <key>public.kern2.comma</key>
      <integer>-40</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>one</key>
      <integer>-120</integer>
      <key>quotedblright</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>37</integer>
      <key>public.kern2.C</key>
      <integer>-20</integer>
      <key>public.kern2.G</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.W</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.f</key>
      <integer>-25</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-100</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.w</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-50</integer>
      <key>quotedbl</key>
      <integer>-100</integer>
      <key>quotedblleft</key>
      <integer>-120</integer>
      <key>quotedblright</key>
      <integer>-80</integer>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>30</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.parenright</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.D</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.Z</key>
      <integer>-8</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.parenright</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>Q</key>
      <integer>-30</integer>
      <key>hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.G</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-13</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.c</key>
      <integer>-35</integer>
      <key>public.kern2.d</key>
      <integer>-35</integer>
      <key>public.kern2.e</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.q</key>
      <integer>-35</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.space</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-31</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.y</key>
      <integer>-45</integer>
      <key>quotedblleft</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>hyphen</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.W</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <integer>-30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-120</integer>
      <key>public.kern2.space</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-25</integer>
      <key>public.kern2.w</key>
      <integer>-35</integer>
      <key>public.kern2.y</key>
      <integer>-50</integer>
      <key>quotedbl</key>
      <integer>-120</integer>
      <key>quotedblleft</key>
      <integer>-120</integer>
      <key>quotedblright</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.parenright</key>
      <integer>-60</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.N</key>
      <integer>30</integer>
      <key>public.kern2.Y</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>15</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-25</integer>
      <key>public.kern2.parenright</key>
      <integer>-60</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Softsign-cy</key>
    <dict>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>hyphen</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.T</key>
      <integer>60</integer>
      <key>public.kern2.W</key>
      <integer>40</integer>
      <key>public.kern2.Y</key>
      <integer>30</integer>
      <key>public.kern2.a</key>
      <integer>-70</integer>
      <key>public.kern2.c</key>
      <integer>-70</integer>
      <key>public.kern2.colon</key>
      <integer>-100</integer>
      <key>public.kern2.comma</key>
      <integer>-100</integer>
      <key>public.kern2.d</key>
      <integer>-70</integer>
      <key>public.kern2.de</key>
      <integer>-80</integer>
      <key>public.kern2.e</key>
      <integer>-70</integer>
      <key>public.kern2.g</key>
      <integer>-80</integer>
      <key>public.kern2.m</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.p</key>
      <integer>-50</integer>
      <key>public.kern2.q</key>
      <integer>-80</integer>
      <key>public.kern2.r</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.space</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.w</key>
      <integer>-60</integer>
      <key>public.kern2.x</key>
      <integer>-70</integer>
      <key>public.kern2.y</key>
      <integer>-70</integer>
      <key>public.kern2.z</key>
      <integer>-60</integer>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>semicolon</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>hyphen</key>
      <integer>-45</integer>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.C</key>
      <integer>-20</integer>
      <key>public.kern2.G</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-45</integer>
      <key>public.kern2.c</key>
      <integer>-45</integer>
      <key>public.kern2.colon</key>
      <integer>-50</integer>
      <key>public.kern2.comma</key>
      <integer>-60</integer>
      <key>public.kern2.e</key>
      <integer>-45</integer>
      <key>public.kern2.g</key>
      <integer>-45</integer>
      <key>public.kern2.i</key>
      <integer>-20</integer>
      <key>public.kern2.m</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-45</integer>
      <key>public.kern2.p</key>
      <integer>-30</integer>
      <key>public.kern2.q</key>
      <integer>-45</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <integer>-30</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.C</key>
      <integer>-20</integer>
      <key>public.kern2.G</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.c</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-60</integer>
      <key>public.kern2.e</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-33</integer>
      <key>public.kern2.q</key>
      <integer>-25</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.C</key>
      <integer>-30</integer>
      <key>public.kern2.G</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>hyphen</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.C</key>
      <integer>-40</integer>
      <key>public.kern2.G</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>30</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>31</integer>
      <key>public.kern2.a</key>
      <integer>-80</integer>
      <key>public.kern2.be-cy</key>
      <integer>-13</integer>
      <key>public.kern2.c</key>
      <integer>-80</integer>
      <key>public.kern2.colon</key>
      <integer>-35</integer>
      <key>public.kern2.comma</key>
      <integer>-140</integer>
      <key>public.kern2.e</key>
      <integer>-80</integer>
      <key>public.kern2.g</key>
      <integer>-80</integer>
      <key>public.kern2.m</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.p</key>
      <integer>-40</integer>
      <key>public.kern2.q</key>
      <integer>-80</integer>
      <key>public.kern2.r</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-80</integer>
      <key>public.kern2.space</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.w</key>
      <integer>-35</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-35</integer>
      <key>public.kern2.z</key>
      <integer>-35</integer>
      <key>semicolon</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.w</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-13</integer>
      <key>public.kern2.y</key>
      <integer>-30</integer>
      <key>quotedbl</key>
      <integer>-20</integer>
      <key>quotedblleft</key>
      <integer>-30</integer>
      <key>quotedblright</key>
      <integer>-20</integer>
      <key>quoteright</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-3</integer>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.parenright</key>
      <integer>-40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.te</key>
      <integer>-13</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>quotedbl</key>
      <integer>-20</integer>
      <key>quotedblleft</key>
      <integer>-30</integer>
      <key>quotedblright</key>
      <integer>-20</integer>
      <key>quoteright</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.colon</key>
    <dict>
      <key>slash</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>public.kern2.m</key>
      <integer>-15</integer>
      <key>public.kern2.parenleft</key>
      <integer>-13</integer>
      <key>public.kern2.parenright</key>
      <integer>-40</integer>
      <key>public.kern2.te</key>
      <integer>-7</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
      <key>public.kern2.w</key>
      <integer>-15</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.emdash</key>
    <dict>
      <key>emdash</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>60</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.h</key>
      <integer>31</integer>
      <key>public.kern2.i</key>
      <integer>15</integer>
      <key>public.kern2.k</key>
      <integer>31</integer>
      <key>public.kern2.l</key>
      <integer>10</integer>
      <key>public.kern2.n</key>
      <integer>31</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>30</integer>
      <key>quotedblleft</key>
      <integer>40</integer>
      <key>quotedblright</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>quotedblleft</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.h</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>quotedbl</key>
      <integer>-20</integer>
      <key>quotedblleft</key>
      <integer>-30</integer>
      <key>quotedblright</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.c</key>
      <integer>-20</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.q</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.m</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <integer>-3</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>quotedbl</key>
      <integer>-20</integer>
      <key>quotedblleft</key>
      <integer>-20</integer>
      <key>quotedblright</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>nine</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>public.kern2.de</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <integer>-40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.te</key>
      <integer>-13</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-17</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>quotedbl</key>
      <integer>-30</integer>
      <key>quotedblleft</key>
      <integer>-30</integer>
      <key>quotedblright</key>
      <integer>-30</integer>
      <key>quoteright</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.p</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.parenleft</key>
    <dict>
      <key>j</key>
      <integer>30</integer>
      <key>public.kern2.C</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-57</integer>
      <key>public.kern2.S</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.q</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
      <key>seven</key>
      <integer>27</integer>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-120</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.c</key>
      <integer>-30</integer>
      <key>public.kern2.d</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <integer>30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.q</key>
      <integer>-30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>10</integer>
      <key>public.kern2.s</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-80</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-7</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.parenright</key>
      <integer>-27</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
      <key>quotedbl</key>
      <integer>-20</integer>
      <key>quotedblleft</key>
      <integer>-30</integer>
      <key>quotedblright</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-13</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.c</key>
      <integer>-15</integer>
      <key>public.kern2.comma</key>
      <integer>-80</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.q</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.c</key>
      <integer>-20</integer>
      <key>public.kern2.d</key>
      <integer>-20</integer>
      <key>public.kern2.e</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.q</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-80</integer>
      <key>public.kern2.de</key>
      <integer>-30</integer>
      <key>public.kern2.f</key>
      <integer>40</integer>
      <key>public.kern2.g</key>
      <integer>-13</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>40</integer>
      <key>quotedblright</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.c</key>
      <integer>-30</integer>
      <key>public.kern2.d</key>
      <integer>-30</integer>
      <key>public.kern2.e</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.q</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-17</integer>
    </dict>
    <key>quotedbl</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-210</integer>
      <key>public.kern2.d</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.q</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
    </dict>
    <key>quotedblleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-120</integer>
      <key>public.kern2.J</key>
      <integer>-120</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.c</key>
      <integer>-30</integer>
      <key>public.kern2.d</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.q</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>30</integer>
    </dict>
    <key>quotedblright</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-120</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.c</key>
      <integer>-30</integer>
      <key>public.kern2.colon</key>
      <integer>-140</integer>
      <key>public.kern2.comma</key>
      <integer>-180</integer>
      <key>public.kern2.d</key>
      <integer>-30</integer>
      <key>public.kern2.f</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.q</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
    </dict>
    <key>quoteright</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-40</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>endash</key>
      <integer>-13</integer>
      <key>hyphen</key>
      <integer>-13</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.comma</key>
      <integer>-67</integer>
      <key>seven</key>
      <integer>27</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>nine</key>
      <integer>-10</integer>
      <key>one</key>
      <integer>-15</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.m</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-140</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
